html, body{
	height: 100%;
}

/*NAVIGATION*/

.navbar-toggler:hover{
	opacity: 0.9;
}

.toggle-icon div{
	width: 40px;
    height: 4px;
    background-color: #fff;
    margin: 7px 0;
    border-radius:2px;
    transition: 0.4s;
    box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.anim .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
     box-shadow: none;
}

.anim .bar2 {
	opacity: 0;
}

.anim .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-9px, -6px);
     box-shadow: none;
}

nav.navbar.navbar-main{
	padding-bottom: 150px;
}

.navbar{
	margin: 0 30px;
	align-items: flex-end;
	padding-bottom: 50px;
}

nav a{
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 19px;
	text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 18px;
    padding-left: 18px;
}

.navbar .active{
	border-bottom: 2px solid;
  	border-color: #d97600;
}

  .navbar-expand-lg .navbar-nav .nav-link:hover{
  	color: white;
  	border-bottom: 2px solid;
  	border-color: #d97600;
  }

.navbar-toggler:focus,.navbar-toggler:active {
   outline: none !important;
}

@media (max-width: 576px) { 

.navbar{
	margin: 0 10px;
	padding-bottom: 40px;
}

.navbar-brand{
width: 50%;
}

  .navbar-brand img{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }

.navbar-toggler{
	text-align:right;
	padding-bottom: 20px;
	margin-left: auto;
}

nav.navbar.navbar-main{
	padding-bottom: 100px;
}
}


@media (min-height: 1024px){
.main-header{
    height: auto!important; 
    padding-bottom: 70px;
}

nav.navbar.navbar-main{
	padding-bottom: 50px;
}

#center-block{
	padding:50px;
}
}

@media (max-height: 550px){
.main-header{
    height: auto!important; 
    padding-bottom: 20px;
}

nav.navbar.navbar-main{
	padding-bottom: 35px;
}

#center-block{
	padding:35px;
}
}

/*END OF NAVIGATION*/


/*MAIN TYPOGRAPHY*/
h1{
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 48px;
	text-align: center;
}

h2{
	font-size: 28px;
	text-align: center;
	padding-bottom: 50px;
	font-family: 'Playfair Display', serif;
}

p{
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
}

a:hover{
	text-decoration: none;
	cursor: pointer;
}

/*END OF MAIN TYPOGRAPHY*/

/*BUTTONS*/

.grey-bg{
	background-color: #f6f6f6;
	padding-top: 50px;
	padding-bottom: 50px;
}

.redbutton{
	margin-left: auto;
	margin-right: auto;
	width: 275px;
	height: 50px;
	color: #fff!important;
	line-height: 50px;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
	display: block;
	background-color: #d97600;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.bluebutton{
	margin-left: auto;
	margin-right: auto;
	width: 275px;
	height: 50px;
	color: #fff!important;
	line-height: 50px;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
	display: block;
	background-color: #003a54;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/*END OF BUTTONS*/

/*HEADER SECTION*/
header{
	background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid;
    border-color: #d97600;
}


.main-header{
	background-image: url(images/bg.jpg);
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid;
    border-color: #d97600;
}

header h2{
	color: white;
}

/*END OF HEADER SECTION*/

/*MAIN CONTENT*/
section{
	margin-top: 50px;
}

 .slider-materials{
    height: 170px; 
     position: relative;
}

.slider-materials img {   
    width: 217px; 
    padding: 0 25px;
    height: auto;
    margin: auto;
    position: absolute;
  	top: 0; 
  	bottom: 0;
  	right: 0;
  	left: 0;
}

.slick-slide{
	min-height: 170px!important;
}

.portfolioCarousel img{
	padding: 0 15px;
	margin: auto;
}

.warranty{
	height: 260px;
	line-height: 260px;
	vertical-align: center;
	padding: 10px 10px 30px 10px;
}

.v-centered{
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
  padding: 20px 10px 20px 10px;
}

.fa-bg{
	color: #003a54;
}

/*END OF MAIN CONTENT*/

/*FOOTER*/
footer{
	background-image: url(images/bg-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    margin-top: 50px;
}

footer h3{
	color: white;
	font-size: 24px;
	padding: 50px 0 30px;
	text-align: left;
	font-family: 'Playfair Display', serif;
}

footer h4{
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 21px;
}

footer p{
	color: white;
}

/*END OF FOOTER*/

/*CONTACT MODAL*/
.modal-body p{
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
}

.modal-body h4{
	font-family: 'Fira Sans', sans-serif;
	font-size: 24px;
	text-align: center;
}

.modal-body .text-muted{
	font-size: 14px;
}

/*END OF CONTACT MODAL*/

/*CARDS*/

.card-wrapper{
  padding-bottom: 25px;
}

.card-wrapper a{
  text-decoration: none;
  color: #000000;
}

.card-technology {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 400px;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-img-top{
	height: 200px;
	width: auto;
}

.card-materials{
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-img{
	width: 217px;
	height: auto;
	padding: 0 25px 20px 10px;
}

.card-body h2{
	padding-bottom: 10px;
}

@media (max-width: 767px) { 

.material-img{
	width: 390px;
	height: auto;
	padding: 0 15px 5px 5px;
}

}
/*END OF CARDS*/
